/* ===================================================================
   ! Panel Launchers Applet (panelLaunchers.js)
   ===================================================================*/

#panel-launchers-box {}

.panel-launchers {
    padding: 0;

    .launcher {
        padding: 0 3px;
    }
}

/* Launchers shifted down fix */
.panel-top .panel-launchers .icon-box {
    padding: 0;
}

/* Different images used in vertical and horizontal panels. */
@each $v in $orientations {
    .#{$v} {
        .panel-launchers .launcher:hover, .panel-launcher {
            border-image: url("panel-assets/#{$v}-item-green-hover.svg") 4;
        }
    }
}

/* Deprecated since 3.2 */
.panel-launcher {
    padding: 0 4px;
}
