// Accent colors
$accent-primary: #8abf5c;
$accent-info:    #e8a05f;
$accent-danger:  #e86b6b;


// Text colors
$text-primary:   alpha(#fff, 1);
$text-secondary: alpha(#fff, .55);
$text-disabled:  alpha(#fff, .15);

$text-primary-invert:   alpha(#000, .75);
$text-secondary-invert: alpha(#000, .45);

$text-info:   $accent-info;
$text-danger: $accent-danger;


// Link colors
$link: $accent-primary;


// FIX Symbolic icons don't support transparency
$icon-primary:   #fff;
$icon-secondary: #999;
$icon-disabled:  #444;

$icon-primary-invert:   #222;
$icon-secondary-invert: #444;
