/* ===================================================================
   ! On screen keyboard
   ===================================================================*/

#keyboard {
    border-image: url("background-assets/keyboard-bg.svg") 9;
}

.keyboard-layout {
    spacing: 8px;
    padding: 8px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    @include btn-primary;
    @include btn-width(small);
}

.keyboard-subkeys {
    padding: 0;
    -arrow-border-radius: 3px;
    -arrow-background-color: rgba(20, 20, 20, .9);
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(0, 0, 0, .9);
    -arrow-base: 16px;
    -arrow-rise: 8px;
    -boxpointer-gap: 2px;
}
